
.error {
	border: 1px solid red;
}

.grey {
	background-color: #f9f9fb;
}

.appForm {
	margin-top: 10%;
	font-size: 22px;
}

.success {
	float: right;
}

.checkBoxGroup {
	margin-left: 25%;

	label {
		display: block;
	}

	input {
		float: left;
	}
}

.title {
	float: left;
}

.formLabel {
	display: block;
}
