
.error {
	border: 1px solid red;
}

grey {
	background-color: #f9f9fb;
}

.appForm {
	margin-top: 10%;
	font-size: 22px;
}

.success {
	float: right;
}

:global(.checkbox-group) {

	label {
		display: block;
	}

	margin-left: 25%;	

	:global(.checkbox-group) {
		display: block;
	}

	:global(.form-label) {
		float: none;
	}

	:global(.form-checkbox) {
		float: left;
	}
}

:global(.form-checkbox-label) {

	:global(#title) {
		float: left;
	}
}

:global(.form-group) {

	:global(.form-label) {
		display: block;
	}
	
}