// The variables here are defined in
// client/app/assets/styles/app-variables.scss

h3 {
  color: $mainColor;
}

:global(.menu) {
	background-color: #333333;
	min-height: $columnOne;
	color: white;
}
