.sidebar {
	h1 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		text-align: center;
		font-size: 50px;
	}

	h5 {
		font-size: 30px;
	}
}


.side {
	background-color: #333333;
	color: white;
	min-height: $columnOne;
}

.link {
	position: absolute;
	bottom: 5vh;
}
