<h1>Algolia technical assignment</h1>

<!-- `react_component` is a helper of https://github.com/shakacode/react_on_rails -->
<!-- The associated component is in client/app/components/Home -->
<%= react_component("Home", props: @props) %>

