
$searchBarHeight: 10vh;
$columnOne: 100vh;
$columnTwo: $columnOne - $searchBarHeight;

.custo {
	background-color: #333333;
	color: white;
}

.custo2 {
	background-color: blue;
}

.custo3 {
	background-color: #f9f9fb;
}

.custo4 {
	background-color: #f9f9fb;
}

.full1 {
	height: $columnOne;
}

.full2 {
	height: $columnTwo;
}

.full3 {
	height: $searchBarHeight;
}

.sidebar {
	h1 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		text-align: center;
		font-size: 50px;
	}

	h5 {
		font-size: 30px;
	}
}

:global(.ais-SearchBox__root) {
	max-width: none !important;
}

:global(.pagination) {
	position: absolute;
	bottom: 0;
}

:global(.ais-SortBy__root) {
	float: right;
}

:global(.ais-Panel__root) {
	margin-top: 50px;
}

:global(.ais-InstantSearch__root) {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	form {
		height: 90%;
		font-size: 25px;
	}

	:global(.ais-SearchBox__submit) {
	 	svg {
	 		width: 25px;
	 		height: 25px;
	 	}
	}
}

:global(.ais-RefinementList__item) {
	label {
			font-size: 20px;
			color: #f9f9fb;
	}
	:global(.ais-RefinementList__itemCount) {
		color: #f9f9fb;
		background-color: #3369e7;
	}
}
