$searchBarHeight: 10vh;
$columnOne: 100vh;
$columnTwo: $columnOne - $searchBarHeight;

.side {
	background-color: #333333;
	color: white;
	min-height: $columnOne;
}

.searchbox {
	height: $searchBarHeight;
}

.app, .searchbox {
	background-color: #f9f9fb;
}

.hit {
	background-color: white;
	box-shadow: 2px 2px 5px #888888;
	margin-top: 30px;
	max-height: 105px;
	min-height: 105px;

	:global(.hit-head) {
		padding-top: 10px;
	}

	:global(.hit-image) {
		float: left;
		margin-left: 5px;

		img {
			 border-radius:50%;
			 margin-right: 10px;
		}
	}

	:global(.hit-name) {
	    display: block;
	    display: -webkit-box;
	    max-width: 100px;
	    line-height: 1.4;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	:global(.hit-rating) {
		float: left;
	}

	:global(.hit-price) {
		float: right;
		margin-right: 22px;
	}

}

:global(.row.display-flex) {
  display: flex;
  flex-wrap: wrap;
}

:global(.row.display-flex > [class*='col-']) {
  display: flex;
  flex-direction: column;
}

.sidebar {
	h1 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		text-align: center;
		font-size: 50px;
	}

	h5 {
		font-size: 30px;
	}
}

:global(.ais-SearchBox__root) {
	max-width: none !important;
}

:global(.ais-SortBy__root) {
	float: right;
}

:global(.ais-Panel__root) {
	margin-top: 50px;
}

:global(.ais-InstantSearch__root) {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	form {
		height: 90%;
		font-size: 25px;
	}

	:global(.ais-SearchBox__submit) {
	 	svg {
	 		width: 25px;
	 		height: 25px;
	 	}
	}
}

:global(.ais-RefinementList__item) {
	label {
			font-size: 20px;
			color: #f9f9fb;
	}
	:global(.ais-RefinementList__itemCount) {
		color: #f9f9fb;
		background-color: #3369e7;
	}
}
